<a href="https://colab.research.google.com/github/SimoneFinessi/Correzioni-verifche/blob/main/corezione_verifica__FINESSI_SIMONE_verifica_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1. caricare i dati del file in un dataframe Pandas

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/wtitze/3E/main/2010.csv",delimiter=";")

In [ ]:
df

In [ ]:
df.head(1)#serve solo a me

2. visualizzare le colonne del titolo e del genere dei primi 10 film

In [ ]:
df[["Title","Genres"]][:10]

In [ ]:
df[["Title","Genres"]].head(10)#altro modo ancora

3. visualizzare le colonne del titolo e del genere dei primi 10 film in un modo diverso dal precedente

In [ ]:
df.loc[:9,["Title","Genres"]]

4. visualizzare i film in inglese realizzati in Francia

In [ ]:
df[(df.Language=="English")&(df.Country=="France")]

5. visualizzare i film di guerra drammatici

In [ ]:
df[(df.Genres.str.contains("Drama"))&(df.Genres.str.contains("War"))]


6. visualizzare i film fantasy e i thriller

In [ ]:
df[(df.Genres.str.contains("Fantasy"))|(df.Genres.str.contains("Thriller"))]

7. visualizzare il budget complessivo dei film realizzati in Spagna

In [ ]:
df.Budget[df.Country=="Spain"].sum()

150000000.0

In [ ]:
df[df.Country=="Spain"]

8. visualizzare il numero di film di guerra realizzati in Spagna

In [ ]:
len(df[(df.Country=="Spain")&(df.Genres.str.contains("War"))])

1

9. visualizzare i titoli dei film di cui non si conosce il budget

In [ ]:
df.Title[df.Budget.isnull()]

10. visualizzare i titoli dei film e il relativo regista. Ordinare a partire dal film che ha il budget più alto

In [ ]:
df.sort_values(by=["Budget"],ascending=False)[["Title","Director"]]#sbaglato in verifica

                                             Title           Director
90                                          Kites         Anurag Basu
534                                   John Carter      Andrew Stanton
163                                       Tangled        Nathan Greno
351   Pirates of the Caribbean: On Stranger Tides        Rob Marshall
618                         The Dark Knight Rises   Christopher Nolan
...                                            ...                ...
1599                      War & Peace                             NaN
1600                            Wings                             NaN
1601                       Wolf Creek                             NaN
1602                Wuthering Heights                             NaN
1603          Yu-Gi-Oh! Duel Monsters                             NaN

[1604 rows x 2 columns]

11. visualizzare i titoli dei film che hanno incassato più di quanto è stato speso per realizzarli

In [ ]:
df["Title"][df["Gross Earnings"]>df.Budget]

0                      127 Hours
5            Alice in Wonderland
6            Alice in Wonderland
8                Alpha and Omega
15                     Beginners
                  ...
1477             The Jungle Book
1483           The Perfect Match
1484    The Purge: Election Year
1485     The Secret Life of Pets
1486                The Shallows
Name: Title, Length: 548, dtype: object

12. visualizzare i film in cui ha recitato Johnny Depp

In [ ]:
df[(df["Actor 1"].isin(["Johnny Depp"]))|(df["Actor 2"].isin(["Johnny Depp"]))|(df["Actor 3"].isin(["Johnny Depp"]))]

13. visualizzare il regista che ha ricevuto più like su Facebook per un suo film

In [ ]:
df.Director[df["Facebook Likes - Director"]==df["Facebook Likes - Director"].max()]#sbagliato in verifica

732    Joseph Gordon-Levitt
Name: Director, dtype: object

14. visualizzare i film che hanno avuto un numero di like superiore alla media dei like assegnati ai film

In [ ]:
df[df["Facebook likes - Movie"]>df["Facebook likes - Movie"].mean()]

15. verificare se durano di più, in media, i film americani o i film tedeschi

In [ ]:
print("americani" if df.Duration[df.Country=="America"].mean() > df.Duration[df.Country=="German"].mean() else "tedeschi") #sbagliato in verifica

16. aggiungere una colonna al dataframe contenente la somma dei like degli attori. Chiamare la colonna 'attori'

In [ ]:
df=df.assign(attori=df['Facebook Likes - Actor 1']+df['Facebook Likes - Actor 2']+df['Facebook Likes - Actor 3'])

In [ ]:
df

17. rimuovere la colonna appena creata

In [ ]:
del df["attori"]#sbagliato in verifica

18. eliminare dal dataframe i film italiani

In [ ]:
df.drop(df[df['Country']=='Italy'].index, inplace=True)#sbagliato in verifica

verifica B

In [ ]:
pf=pd.read_excel("https://raw.githubusercontent.com/wtitze/3E/main/Medals.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
pf.head(1)

   Rank                  Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
0     1  United States of America    39      41      33    113              1

In [ ]:
pf

visualizzare il totale delle medaglie delle prime 10 nazioni

In [ ]:
pf.Total[:10]

3. visualizzare la nazione (o le nazioni) che ha vinto, in totale, meno medaglie

In [ ]:
pf[pf.Total==pf.Total.min()]

4. visualizzare le nazioni che hanno vinto più medaglie di bronzo rispetto alle medaglie d'argento

In [ ]:
pf[pf.Bronze>pf.Silver]

5. visualizzare il numero di nazioni che non hanno vinto medaglie d'oro

In [ ]:
pf[pf.Gold==0]

6. visualizzare il numero totale di medaglie d'oro e d'argento

In [ ]:
pf[["Gold","Silver"]].sum()

7. visualizzare la nazione che ha vinto più medaglie di bronzo

In [ ]:
pf[pf.Bronze==pf.Bronze.max()]

   Rank                  Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
0     1  United States of America    39      41      33    113              1

8. visualizzare le nazioni che non hanno vinto medaglie d'argento

In [ ]:
pf[pf.Silver==0]

9. visualizzare le nazioni che hanno vinto un numero di medaglie d'argento superiore alla media

In [ ]:
pf[pf.Silver>pf.Silver.mean()]

leggere i dati al link https://raw.githubusercontent.com/wtitze/3E/main/Athletes.xlsx

In [ ]:
atleti=pd.read_excel("https://raw.githubusercontent.com/wtitze/3E/main/Athletes.xlsx")

In [ ]:
atleti.head(1)

              Name     NOC    Discipline
0  AALERUD Katrine  Norway  Cycling Road

In [ ]:
atleti

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

11. visualizzare i nomi degli atleti italiani

In [ ]:
atleti.Name[atleti.NOC=="Italy"]

12. controllare se gli atleti italiani sono di più o di meno degli atleti francesi

In [ ]:
print("italiani" if len(atleti.Name[atleti.NOC=="Italy"]) > len(atleti.Name[atleti.NOC=="France"]) else "francesi")

13. visualizzare tutti gli atleti che si chiamano Giovanni

In [ ]:
atleti[atleti.Name.str.contains("Giovanni")]

14. visualizzare gli atleti che si chiamano Alberto ma che non sono italiani

In [ ]:
atleti[(atleti.Name.str.contains("Alberto"))&(atleti.NOC!="Italy")]

15. visualizzare il numero di atleti della squadra di basket spagnola

In [ ]:
len(atleti[(atleti.Discipline=="Basketball")&(atleti.NOC=="Spain")])

16. visualizzare i dati del dataframe ordinati in ordine alfabetico sulla disciplina

In [ ]:
atleti.sort_values(by=["Discipline"])

17. visualizzare gli atleti scandinavi

In [ ]:
atleti[atleti.NOC=="Scandinavians"]

18. eliminare tutti gli atleti della Francia

In [ ]:
atleti.drop(atleti[atleti.NOC=='France'].index, inplace=True)

In [ ]:
atleti

VERIFICA C

1. caricare i dati del file in un dataframe Pandas

In [ ]:
import pandas as pd

In [ ]:
team=pd.read_excel("https://raw.githubusercontent.com/wtitze/3E/main/Teams.xlsx")

In [ ]:
team[:1]

      Name      Discipline      NOC Event
0  Belgium  3x3 Basketball  Belgium   Men

In [ ]:
team

              Name      Discipline                         NOC  Event
0          Belgium  3x3 Basketball                     Belgium    Men
1            China  3x3 Basketball  People's Republic of China    Men
2            China  3x3 Basketball  People's Republic of China  Women
3           France  3x3 Basketball                      France  Women
4            Italy  3x3 Basketball                       Italy  Women
..             ...             ...                         ...    ...
738   South Africa      Water Polo                South Africa  Women
739          Spain      Water Polo                       Spain    Men
740          Spain      Water Polo                       Spain  Women
741  United States      Water Polo    United States of America    Men
742  United States      Water Polo    United States of America  Women

[743 rows x 4 columns]

2. visualizzare le discipline a cui l'Italia ha partecipato

In [ ]:
team.Discipline[team.NOC=="Italy"]

3. visualizzare il numero di discipline a cui hanno partecipato gli Stati Uniti

In [ ]:
len(set(team.Discipline[team.NOC=="United States of America"]))

18

4. visualizzare il numero di squadre di basket femminile

In [ ]:
len(team[(team.Discipline.str.contains("Basketball"))&(team.Event=="Women")])

5. visualizzare le discipline a cui hanno partecipato la Gran Bretagna e la Francia

In [ ]:
set(team.Discipline[team.NOC=="France"]).intersection(set(team.Discipline[team.NOC=="Great Britain"]))

{'Archery',
 'Artistic Gymnastics',
 'Artistic Swimming',
 'Athletics',
 'Cycling Track',
 'Football',
 'Rugby Sevens',
 'Swimming',
 'Triathlon'}

6. controllare se le discipline a cui ha partecipato l'Italia sono di più o di meno di quelle a cui ha partecipato la Spagna

In [ ]:
print("italia" if len(set(team.Discipline[team.NOC=="Italy"]))>len(set(team.Discipline[team.NOC=="Spain"])) else "spagna")

7. visualizzare tutti le discipline in cui compare la parola 'water'

In [ ]:
team.Discipline[team.Discipline.str.contains("Water")]

8. visualizzare tutti i dati ordinandoli in ordine alfabetico sul nome della nazione

In [ ]:
team.sort_values("NOC")

9. eliminare tutti i record relativi alla Cina

In [ ]:
team.drop(team[team.NOC.str.contains("China")].index, inplace=True)

In [ ]:
team

VERIFICA D

1. caricare i dati del file in un dataframe Pandas    https://raw.githubusercontent.com/wtitze/3E/main/Medals.xlsx

In [ ]:
meda=pd.read_excel("https://raw.githubusercontent.com/wtitze/3E/main/Medals.xlsx")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
meda[:1]

   Rank                  Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
0     1  United States of America    39      41      33    113              1

In [ ]:
meda

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

2. visualizzare il totale delle medaglie delle ultime 10 nazioni

In [ ]:
meda.Total[-10:]

3. visualizzare la nazione (o le nazioni) che ha vinto, in totale, almeno 40 medaglie

In [ ]:
meda[meda.Total>40]

4. visualizzare le nazioni che hanno vinto un numero totale di medaglie compreso tra 30 e 50

In [ ]:
meda[(meda.Total>30) &(meda.Total<50)]

5. visualizzare il numero di nazioni che non hanno vinto medaglie d'oro ma hanno vinto almeno 3 medaglie d'argento

In [ ]:
len(meda[(meda.Gold==0)&(meda.Silver>=3)])

6. visualizzare il numero totale complessivo di medaglie assegnate

In [ ]:
meda.Total.sum()

7. visualizzare la nazione che ha vinto lo stesso numero di medaglie d'oro, d'argento e di bronzo

In [ ]:
meda[(meda.Bronze==meda.Total/3)&(meda.Silver==meda.Total/3)&(meda.Gold==meda.Total/3)]

8. visualizzare le nazioni che non hanno vinto medaglie d'argento

In [ ]:
meda[meda.Silver==0]

9. visualizzare le nazioni che hanno vinto un numero di medaglie d'argento superiore alla media

In [ ]:
meda[meda.Silver>meda.Silver.mean()]