<a href="https://colab.research.google.com/github/SimoneFinessi/Correzioni-verifche/blob/main/correzione_verifica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ricare i primi 50 multipli di 5

In [ ]:
lista=[indice*5 for indice in range(1,51)]
print(lista)
len(lista)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250]

50

caricare in una nuova llista solo i numeri di 10

In [ ]:
lista2=[i for i in lista if i%10==0]
print(lista2)
len(lista2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]

25

eliminare dallla seconda lista tutti i numeri compresi tra 30 e 60 e vislualizzare tutti gli eelmenti della lista

In [ ]:
for indice in range(len(lista2)):
  if 30<=lista2[indice]<=60:    
     lista2[indice]=0
while True:
   if 0 in lista2:
     lista2.remove(0)
   else:
     print(lista2)
     break

[10, 20, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250]

In [ ]:
meta=int(len(lista)/2)
print(lista[meta-2:meta+3])

[120, 125, 130, 135, 140]